{
  "openapi": "3.1.0",
  "info": {
    "title": "Save to Mind API",
    "version": "1.0.0",
    "description": "Save conversations and ideas to the Mind capture inbox. Classification is handled later by local Mind Steward automation."
  },
  "servers": [
    {
      "url": "https://n8n.prochat.tools"
    }
  ],
  "paths": {
    "/webhook/mind-inbox": {
      "post": {
        "operationId": "saveToMind",
        "summary": "Save a conversation or idea to Mind",
        "description": "Creates a Markdown capture in mind/capture/inbox and queues it for nightly local Mind Steward classification.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "content"
                ],
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "Source of the capture.",
                    "default": "chatgpt"
                  },
                  "title": {
                    "type": "string",
                    "description": "Short descriptive title for the capture."
                  },
                  "content": {
                    "type": "string",
                    "description": "Full capture content."
                  },
                  "type_hint": {
                    "type": "string",
                    "description": "Optional hint stored with the capture for later Mind Steward classification.",
                    "enum": [
                      "project",
                      "area",
                      "resource",
                      "task",
                      "decision",
                      "research",
                      "inbox"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Capture saved and queued for classification.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Save status."
                    },
                    "result": {
                      "type": "string",
                      "description": "Save result."
                    },
                    "queued_for_classification": {
                      "type": "boolean",
                      "description": "Whether Mind Steward should classify the capture during the nightly local run."
                    },
                    "classifier": {
                      "type": "string",
                      "description": "Classifier responsible for later processing."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request."
          },
          "500": {
            "description": "Server error during save."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
